body {
  font: 10px sans-serif;
}

#inputs, #outputs {
  width: 50%;
}

#outputs {
  text-align: center;
  float: right;
}

#outputs table {
  margin-left: auto;
  margin-right: auto;
}

td {
  font: 10px sans-serif;
}

h1 {
	margin-bottom: 0;
}

#charts div {
  display: inline-block;
}

#charts div h2 {
  text-align: center;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axislabel {
  text-anchor: end;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 3px;
}

.area {
  fill: steelblue;
  fill-opacity: 0.1;
}

.area0 {
  fill: green;
  fill-opacity: 1;
}

.area1 {
  fill: yellow;
  fill-opacity: 1;
}

.area2 {
  fill: grey;
  fill-opacity: 1;
}

.area3 {
  fill: black;
  fill-opacity: 1;
}


.line0 {
  stroke: green;
}

.area1 {
  fill: red;
  fill-opacity: 1;
}

.line1 {
  stroke: red;
}

.line3 {
  stroke: green;
  stroke-dasharray: 5, 5;
}

#emissions .area0 {
  fill: red;
  fill-opacity: 1;
}

#emissions .area1 {
  fill: grey;
  fill-opacity: 0.5;
}

#emissions .line {
  stroke-width: 1px;
  stroke: black;
}

td.output {
  text-align: right;
}

#emissions_warning {
  background-color: yellow;
}

.preset {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

#refs {
  clear:both;
}
